<template>
    <div
        id="app"
        :class="$style.app"
    >   
        <!--<div :class="$style.content">
            <div :class="$style.container">
                <router-view />
            </div>
        </div>-->

        <Layout>
            <router-view />
        </Layout>
    </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss" module></style>