<template>
  <div
    :class="[$style.layout, small && 'container--small']"
    class="container"
  >
    <slot />
  </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss" module></style>