@import './variables';

html {
    position: relative;
}

body {
    position: relative;
    background-color: $color-gray;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: 768px) {
            width: 750px;
    
        &--small {
            width: 450px;
        }
    }
    
      @media (min-width: 992px) {
            width: 970px;
    
        &--small {
            width: 670px;
        }
    }
    
      @media (min-width: 1200px) {
            width: 1170px;
    
        &--small {
            width: 870px;
        }
    }
}