<template>
    <transition name="modal">
        <div :class="$style.modalmask" @click="closeModal" v-show="show">
            <div :class="$style.modalcontainer" @click.stop>
                <div :class="$style.modalheader">
                    <h3>Требуется подтверждение действия</h3>
                </div>
                <div :class="$style.modalbody">
                    Чтобы продолжить, нажмите "подтвердить"
                </div>
                <div :class="$style.modalfooter">
                    <button
                        v-if="pageType === 'main'"
                        :class="$style.modalbtn"
                        @click="deleteNote(noteid)"
                    >
                        Подтвердить
                    </button>

                    <button
                        v-else
                        :class="$style.modalbtn"
                        @click="undoAction()"
                    >   
                        Подтвердить
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss" module></style>