* {
    box-sizing: border-box;
}

.modalmask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modalcontainer {
    width: 300px;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modalheader h3 {
    margin-top: 0;
    color: #42b983;
}

.modalbody {
    margin: 20px 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modalcontainer,
.modal-leave-active .modalcontainer {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}