<template>
    <div class="todo-inner">
        <div class="todo-controls">
            <div :class="$style.addnote">
                <input type="text" v-model="allNotes.note.title" placeholder="Новая заметка">
                <button @click="onCreate(allNotes.note.title)">
                    Создать
                </button>
            </div> 
        </div>

        <div :class="$style.notewrapper">
            <Modal
                :noteid="noteId"
                :show="showModal"
                :pageType="pageType"
                @close="showModal = false"
            />
            <div
                v-for="note in allNotes.notes"
                :key="note.id"
            >
                <div :class="$style.noteheader">
                    <span :class="$style.notetitle">{{ note.title }}</span>
                    <button @click="showModal = true; noteId = note.id">
                        Удалить
                    </button>
                    <div>
                        <router-link :to="{ name: 'note', params: { id: note.id } }">
                            Полный текст
                        </router-link>
                    </div>
                </div>
                <div
                    v-for="todo in getNoteTodos(note.id)"
                    :key="todo.id"
                >
                    <span :class="$style.todotitle">{{ todo.name }}</span>
                    {{ todo.description }}
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss" module></style>