@import '@/styles/_variables.scss';

.addnote {
    padding: 35px 0 50px 0;
}

.notewrapper {
    padding: 10px 25px;
    background-color: $color-white;
}

.noteheader {
    margin: 15px 0 25px 0;
}

.notetitle {
    margin-right: 20px;
    font-size: 24px;
    font-weight: 700;
}

.todotitle {
    font-weight: 700;
}