<template>
    <div>

        <h2 :class="$style.title">{{ currentNote.title }}</h2>
        <div>
            <Modal
                :noteid="currentNote.id"
                :show="showModal"
                @close="showModal = false" 
            />
            <button @click="saveTodo()">
                Сохранить
            </button>
            <button @click="showModal = true">
                Шаг назад
            </button>
            <button @click="redo()">
                Шаг вперед
            </button>
            
            <div>
                <input type="text" v-model="newTodo.name" placeholder="Новая задача">
                <input type="text" v-model="newTodo.description" placeholder="Описание">
                <button @click="createTodo()">
                    Создать
                </button>
            </div>
        </div>
        <div :class="$style.todolist">
            <div
                :class="$style.todowrapper"
                v-for="todo in noteTodos"
                :key="todo.id"
            >
                <div :class="todo" v-show="editTodo != todo.id">
                    <div :class="$style.todoheader">
                        <span :class="$style.todotitle">{{ todo.name }}</span>
                        <span>
                            <input
                                type="checkbox"
                                id="done"
                                v-model="todo.done"
                                @change="updateTodoStatus(todo)"
                            >
                            <label for="done">Выполнено</label>
                        </span>
                        <div :class="$style.controls">
                            <button
                            @click="deleteTodo(currentNote.id, todo.id)"
                            >
                                Удалить
                            </button>
                            <button
                                @click="editTodo = todo.id"
                            >
                                Редактировать
                            </button>
                        </div>
                    </div>
                    <p>{{ todo.description }}</p>
                </div>
                <div :class="$style.editform" v-show="editTodo == todo.id">
                    <div>
                        <input type="text" v-model="todo.name">
                    </div>
                    <div>
                        <textarea type="text" v-model="todo.description" />
                    </div>
                    <button @click="editTodo = 0">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss" module></style>