@import '@/styles/_variables.scss';

.title {
    font-size: 26px;
}

.todolist {
   margin-top: 30px; 
}

.todowrapper {
    padding: 10px 25px;
    background-color: $color-white;
}

.todoheader {
    padding: 20px 0;
}

.todotitle {
    font-size: 24px;
    margin-right: 20px;
}

.controls {
    padding-top: 15px;
}

.editform * {
    margin-bottom: 10px;
}